In [33]:
import os
import csv
import glob
import pandas as pd
import matplotlib.pyplot as plt

In [34]:
year_list = []
industry_list = []
quarter_list = []
industry_type_list = []
month1_list = []
month2_list = []
month3_list = []
total_wages_list = []

for each_csv_file in glob.glob("*.csv"):
    print(each_csv_file)
    
    csvpath = each_csv_file
    
    with open(csvpath, newline='') as csvfile:
        csvreader = csv.reader(csvfile, delimiter=',')
        for row in csvreader:
            
            if row[0] == "06075":
                year_list.append(row[5])
                industry_list.append(row[10])
                industry_type_list.append(row[9])
                quarter_list.append(row[6])
                month1_list.append(row[14])
                month2_list.append(row[15])
                month3_list.append(row[16])
                total_wages_list.append(row[17])
                
    csvfile.close()
print("Completed data collection")

collected_data_dict = {"Year": year_list, "Industry": industry_list, "Industry Type": industry_type_list,
                      "Quarter": quarter_list, "Emp Level Month #1": month1_list, "Emp Level Month #2": month2_list, "Emp Level Month #3": month3_list,
                      "Total Wages Collected": total_wages_list}
        
collected_data_df = pd.DataFrame(collected_data_dict)

2004_44-45_retail.csv
2004_72_food.csv
2005_44-45_retail.csv
2005_72_food.csv
2006_44-45_retail.csv
2006_72_food.csv
2007_44-45_retail.csv
2007_72_food.csv
2008_44-45_retail.csv
2008_72_food.csv
2009_44-45_retail.csv
2009_72_food.csv
2010_44-45_retail.csv
2010_72_food.csv
2011_44-45_retail.csv
2011_72_food.csv
2012_44-45_retail.csv
2012_72_food.csv
2013_44-45_retail.csv
2013_72_food.csv
2014_44-45_retail.csv
2014_72_food.csv
2015_44-45_retail.csv
2015_72_food.csv
2016_44-45_retail.csv
2016_72_food.csv
2017_44-45_retail.csv
2017_72_food.csv
Completed data collection

In [86]:
collected_data_df = collected_data_df[['Year', 'Industry', 'Industry Type', 'Quarter', 'Emp Level Month #1',
                                      'Emp Level Month #2', 'Emp Level Month #3', 'Total Wages Collected']]
collected_data_df = collected_data_df.sort_values(['Year', 'Industry']).reset_index(drop=True)

#Dropping government related jobs
collected_data_df_mod = collected_data_df.loc[collected_data_df['Industry Type']=='Private'].reset_index(drop=True)

In [119]:
collected_data_df_mod['Emp Level Month #1'] = pd.to_numeric(collected_data_df_mod['Emp Level Month #1'])
collected_data_df_mod['Emp Level Month #2'] = pd.to_numeric(collected_data_df_mod['Emp Level Month #2'])
collected_data_df_mod['Emp Level Month #3'] = pd.to_numeric(collected_data_df_mod['Emp Level Month #3'])
collected_data_df_mod['Total Wages Collected'] = pd.to_numeric(collected_data_df_mod['Total Wages Collected'])

In [120]:
group_year = collected_data_df_mod.groupby(["Year", "Industry"]).mean()
group_year.head()

                                      Emp Level Month #1  Emp Level Month #2  \
Year Industry
2004 Accommodation and food services            59207.75            59550.00
     Retail trade                               42743.75            43100.00
2005 Accommodation and food services            60379.50            60714.25
     Retail trade                               42908.25            43247.75
2006 Accommodation and food services            62823.50            63239.75

                                      Emp Level Month #3  \
Year Industry
2004 Accommodation and food services            60296.25
     Retail trade                               43445.25
2005 Accommodation and food services            61272.75
     Retail trade                               43649.50
2006 Accommodation and food services            63656.25

                                      Total Wages Collected
Year Industry
2004 Accommodation and food services           3.477483e+08
     Retail trade                              3.880420e+08
2005 Accommodation and food services           3.683249e+08
     Retail trade                              4.028113e+08
2006 Accommodation and food services           3.984869e+08

In [123]:
group_year["Yearly Average Emp"] = (group_year['Emp Level Month #1']+group_year['Emp Level Month #2']+group_year['Emp Level Month #3'])/3

In [124]:
group_year

                                               Emp Level Month #1  \
Year Industry
2004 Accommodation and food services                     59207.75
     Retail trade                                        42743.75
2005 Accommodation and food services                     60379.50
     Retail trade                                        42908.25
2006 Accommodation and food services                     62823.50
     Retail trade                                        42694.75
2007 Accommodation and food services                     64711.00
     Retail trade                                        43976.25
2008 Accommodation and food services                     66835.00
     Retail trade                                        44203.50
2009 Accommodation and food services                     63793.50
     Retail trade                                        41320.75
2010 Accommodation and food services                     64968.75
     Retail trade                                        39697.50
2011 Accommodation and food services                     66148.00
     Retail trade                                        41057.00
2012 Accommodation and food services                     69421.75
     Retail trade                                        42340.00
2013 Accommodation and food services                     71698.25
     Retail trade                                        44176.00
2014 Accommodation and food services                     75488.75
     Retail trade                                        45387.75
2015 Accommodation and food services                     79167.50
     Retail trade                                        46935.25
2016 NAICS 44-45 Retail trade                            46579.25
     NAICS 72 Accommodation and food services            81153.25
2017 NAICS 44-45 Retail trade                            46742.00
     NAICS 72 Accommodation and food services            80318.00

                                               Emp Level Month #2  \
Year Industry
2004 Accommodation and food services                     59550.00
     Retail trade                                        43100.00
2005 Accommodation and food services                     60714.25
     Retail trade                                        43247.75
2006 Accommodation and food services                     63239.75
     Retail trade                                        42983.75
2007 Accommodation and food services                     65464.50
     Retail trade                                        44317.50
2008 Accommodation and food services                     67182.50
     Retail trade                                        44185.75
2009 Accommodation and food services                     64015.75
     Retail trade                                        41399.00
2010 Accommodation and food services                     64789.75
     Retail trade                                        39941.25
2011 Accommodation and food services                     66601.50
     Retail trade                                        41525.75
2012 Accommodation and food services                     70179.25
     Retail trade                                        42816.25
2013 Accommodation and food services                     72430.00
     Retail trade                                        44653.25
2014 Accommodation and food services                     75735.00
     Retail trade                                        45773.75
2015 Accommodation and food services                     79635.75
     Retail trade                                        47210.25
2016 NAICS 44-45 Retail trade                            46743.00
     NAICS 72 Accommodation and food services            81644.25
2017 NAICS 44-45 Retail trade                            46133.50
     NAICS 72 Accommodation and food services            81196.50

                                               Emp Level Month #3  \
Year Industry
2004 Accommodation and food services                     60296.25
     Retail trade                                        43445.25
2005 Accommodation and food services                     61272.75
     Retail trade                                        43649.50
2006 Accommodation and food services                     63656.25
     Retail trade                                        43311.00
2007 Accommodation and food services                     65762.75
     Retail trade                                        44595.25
2008 Accommodation and food services                     67533.75
     Retail trade                                        44197.00
2009 Accommodation and food services                     63743.25
     Retail trade                                        41367.50
2010 Accommodation and food services                     65354.50
     Retail trade                                        40266.75
2011 Accommodation and food services                     67117.00
     Retail trade                                        41741.50
2012 Accommodation and food services                     70484.25
     Retail trade                                        43020.75
2013 Accommodation and food services                     72670.50
     Retail trade                                        44819.75
2014 Accommodation and food services                     76214.25
     Retail trade                                        45918.75
2015 Accommodation and food services                     80068.00
     Retail trade                                        47370.25
2016 NAICS 44-45 Retail trade                            46765.25
     NAICS 72 Accommodation and food services            81384.75
2017 NAICS 44-45 Retail trade                            46154.50
     NAICS 72 Accommodation and food services            81301.00

                                               Total Wages Collected  \
Year Industry
2004 Accommodation and food services                    3.477483e+08
     Retail trade                                       3.880420e+08
2005 Accommodation and food services                    3.683249e+08
     Retail trade                                       4.028113e+08
2006 Accommodation and food services                    3.984869e+08
     Retail trade                                       4.069825e+08
2007 Accommodation and food services                    4.277961e+08
     Retail trade                                       4.357644e+08
2008 Accommodation and food services                    4.563622e+08
     Retail trade                                       4.417302e+08
2009 Accommodation and food services                    4.300027e+08
     Retail trade                                       4.047681e+08
2010 Accommodation and food services                    4.434621e+08
     Retail trade                                       4.153587e+08
2011 Accommodation and food services                    4.750566e+08
     Retail trade                                       4.434026e+08
2012 Accommodation and food services                    5.073999e+08
     Retail trade                                       4.795790e+08
2013 Accommodation and food services                    5.380473e+08
     Retail trade                                       5.089132e+08
2014 Accommodation and food services                    5.798284e+08
     Retail trade                                       5.259506e+08
2015 Accommodation and food services                    6.452216e+08
     Retail trade                                       5.763146e+08
2016 NAICS 44-45 Retail trade                           5.511248e+08
     NAICS 72 Accommodation and food services           6.905530e+08
2017 NAICS 44-45 Retail trade                           6.249469e+08
     NAICS 72 Accommodation and food services           6.910731e+08

                                               Yearly Average  \
Year Industry
2004 Accommodation and food services             59684.666667
     Retail trade                                43096.333333
2005 Accommodation and food services             60788.833333
     Retail trade                                43268.500000
2006 Accommodation and food services             63239.833333
     Retail trade                                42996.500000
2007 Accommodation and food services             65312.750000
     Retail trade                                44296.333333
2008 Accommodation and food services             67183.750000
     Retail trade                                44195.416667
2009 Accommodation and food services             63850.833333
     Retail trade                                41362.416667
2010 Accommodation and food services             65037.666667
     Retail trade                                39968.500000
2011 Accommodation and food services             66622.166667
     Retail trade                                41441.416667
2012 Accommodation and food services             70028.416667
     Retail trade                                42725.666667
2013 Accommodation and food services             72266.250000
     Retail trade                                44549.666667
2014 Accommodation and food services             75812.666667
     Retail trade                                45693.416667
2015 Accommodation and food services             79623.750000
     Retail trade                                47171.916667
2016 NAICS 44-45 Retail trade                    46695.833333
     NAICS 72 Accommodation and food services    81394.083333
2017 NAICS 44-45 Retail trade                    46343.333333
     NAICS 72 Accommodation and food services    80938.500000

                                               Yearly Average Emp
Year Industry
2004 Accommodation and food services                 59684.666667
     Retail trade                                    43096.333333
2005 Accommodation and food services                 60788.833333
     Retail trade                                    43268.500000
2006 Accommodation and food services                 63239.833333
     Retail trade                                    42996.500000
2007 Accommodation and food services                 65312.750000
     Retail trade                                    44296.333333
2008 Accommodation and food services                 67183.750000
     Retail trade                                    44195.416667
2009 Accommodation and food services                 63850.833333
     Retail trade                                    41362.416667
2010 Accommodation and food services                 65037.666667
     Retail trade                                    39968.500000
2011 Accommodation and food services                 66622.166667
     Retail trade                                    41441.416667
2012 Accommodation and food services                 70028.416667
     Retail trade                                    42725.666667
2013 Accommodation and food services                 72266.250000
     Retail trade                                    44549.666667
2014 Accommodation and food services                 75812.666667
     Retail trade                                    45693.416667
2015 Accommodation and food services                 79623.750000
     Retail trade                                    47171.916667
2016 NAICS 44-45 Retail trade                        46695.833333
     NAICS 72 Accommodation and food services        81394.083333
2017 NAICS 44-45 Retail trade                        46343.333333
     NAICS 72 Accommodation and food services        80938.500000